# 무시할 메타데이터 디렉터리
client/.metadata/
server/.metadata/

# .metadata 하위의 플러그인과 캐시 파일도 무시
**/.metadata/
**/.metadata/.plugins/
**/.metadata/.plugins/**

# 캐시 및 인덱스 관련 파일 무시
*.snap
*.markers
*.index
*.dat
externalLibsTimeStamps
savedIndexNames.txt
variablesAndContainers.dat
server/.metadata/.plugins/org.eclipse.m2e.logback/0.log
server/.metadata/.plugins/org.eclipse.rse.core/.log
server/.metadata/.plugins/org.eclipse.rse.ui/.log
